
:root{
    --background_color: #ffffff;
    // --separation_border_color: #c2c2c2;

    // --green_color: #00ff00;
    // --green_border_color: #008000;

    // --font_color: #ffffff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background_color: #111111;            // фон

        --h1_header_color: #00ff00;             // цвет заголовок
        --h2_header_color: #37b680;             // цвет подзаголовков
        --h3_header_color: #f0f0f0;             // совсем малелькие подзаголовки

        // --font_color: #f0f0f0;                  // текст
        // --font_color: #5ab88a;                  // текст
        --font_color: #c8ebdb;                  // текст

        --slider_start_color: #00ee00;          // цвет начала градиента слайдера
        --slider_finish_color: #007700;         // цвет конца градиента слайдера

        --hr_color: #677075;                    // полоска(hr)
        --border_color: #677075;                // увет рамочки  для полей ввода
        
        --button_background_color: #008800;     // фон кнопки
        --button_border_color: #00bb00;         // краешек кнопок
        --button_font_color: #f0f0f0;           // цвет текста кнопки


        --successColor: #00ff00;                // цвет успеха   для полей ввода и паролей
        --errorColor: #ff0000;                  // цвет ошибки   для полей ввода и паролей
        --waitingColor: #ffff00;                // цвет ожидания для полей ввода и паролей


        
        --chart_line_color_a: #00ff00;          // первая полоса графика
        --chart_line_color_b: #ffff00;          // вторая полоса графика
        --chart_line_color_c: #ff9000;          // третья полоса графика
        --chart_line_color_d: #ff0000;          // четвёртая полоса графика
        --chart_line_color_e: #f000ff;          // пятая полоса графика
        --chart_line_color_f: #0000ff;          // шестая полоса графика
        --chart_line_color_g: #00ffff;          // седьмая полоса графика

        --chart_grid_color: #ffffff;            // сетка у графиков
        --chart_signature_font_color: #000000;  // цвет текста в квадратиках
    }
}
