:root{
    --background_color: #ffffff;
    // --separation_border_color: #c2c2c2;

    // --green_color: #00ff00;
    // --green_border_color: #008000;

    // --text_color: #ffffff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background_color: #000000;            // фон
        --separation_border_color: #c2c2c2;     // 

        --green_color: #00ff00;                 // 
        --green_border_color: #008000;          // 

        --text_color: #ffffff;                  // 

        --chart_line_color_a: #00ff00;          // 
        --chart_line_color_b: #ffff00;          // 
        --chart_line_color_c: #ff9000;          // 
        --chart_line_color_d: #ff0000;          // 
        --chart_line_color_e: #f000ff;          // 
        --chart_line_color_f: #0000ff;          // 
        --chart_line_color_g: #00ffff;          // 
    }
}
