@import "./colors";

:root{
    --font-size: 20px;
}

$font-size: var(--font-size);
$h1-font-size: calc(2 * $font-size);
$h2-font-size: calc(3 * $font-size / 2);
$h3-font-size: calc(5 * $font-size / 4);


