Старое/
*.mp4
Server/Website/.vs/
.tmp/

Server/Website/Content/Main/chartist/
!Server/Website/Content/Main/chartist/chartist.min.js
!Server/Website/Content/Main/chartist/chartist.min.css

Server/ServerCode/data/