// $chart_line_colors: (
//     ('a', var(--chart_line_color_a))
//     ('b', var(--chart_line_color_b))
//     ('c', var(--chart_line_color_c))
//     ('d', var(--chart_line_color_d))
//     ('e', var(--chart_line_color_e))
//     ('f', var(--chart_line_color_f))
//     ('g', var(--chart_line_color_g))
// );
$charts_characters: (
    'a',
    'b',
    'c',
    'd',
    'e',
    'f',
    'g'
);

main {
    .chart {
        .ct-chart {
            text-align: center;
        }

        @each $ch in $charts_characters {
            .ct-series-#{$ch} {             // данные графика (линии и точки)          

                .ct-line {          // линии на грфиках
                    stroke: var(--chart_line_color_#{$ch});
                    stroke-width: 3px;
                }
                
                .ct-point{          // точки на грфиках
                    stroke: var(--chart_line_color_#{$ch});
                    stroke-width: 7px;
                }
            }

            ol .chart_signature_#{$ch} {    // квадаратики под графиком
                background-color: var(--chart_line_color_#{$ch});
            }
        }
        .ct-label{
            color: var(--text_color);
        }
        // $ct-grid-color: var(--text_color);
        // $ct-grid-background-fill: var(--text_color);
        .ct-grid{
            stroke: var(--chart_grid_color);
        }

        ol {
            list-style-type: none;
            padding: 10px 0;
            display: flex;
            justify-content: space-evenly;
            // background-color: pink;
            color: var(--chart_signature_font_color); 
            li {
                width: var(--font-size);
                height: var(--font-size);
                text-align: center;
            }
        }
    }
}