*{
    font-size: $font-size;
}

hr {
    color: var(--hr_color);
}


h1 {
    text-align: center;
    color: var(--header_color);
    font-size: $h1-font-size;
}

h2 {
    text-align: center;
    color: var(--font_color);
    font-size: $h2-font-size;
    //background-color:burlywood;
}

button, 
input[type="button"],
a {
    all: unset;
    background-color: var(--button_background_color);
    border: 3px solid var(--button_border_color);
    color: var(--background_color);
    // padding: 5px 10px;
    // margin: 3px 0px;
    border-radius: 20px;
    text-align: center;
}



@import "./elements_positions";