$border_radius: var(--font-size);


body {
    background-color: var(--background_color);
    color: var(--font_color);
}

nav {
    ul {
        list-style-type: none;
    }
}

.nav_container {
    background-color: red;
    //background-color: blue;

    //border-radius: $border_radius;
    h2 {
        background-color: blue;
        border-radius: $border_radius 0 0 $border_radius;
    }
}

.nav_left {
    border-radius: 0 $border_radius $border_radius 0;
}

.nav_right {
    border-radius: $border_radius 0 0 $border_radius;
}


@import "./containers_positions";