$border_radius: $font-size;


body {
    background-color: var(--background_color);
    color: var(--font_color);
}

nav {
    ul {
        list-style-type: none;
    }
}

.nav_container {
    // background-color: #98c538;
    //background-color: #0a8282;
    //background-color: #6b0016;

    //border-radius: $border_radius;
    h3 {
       // background-color: black;
       //background-color: #6b0016;
       background-color: #008800;
       border-radius: $border_radius 0 0 $border_radius;
    }
}

.nav_left {
    border-radius: 0 $border_radius $border_radius 0;
}

.nav_right {
    border-radius: $border_radius 0 0 $border_radius;
}


@import "./containers_positions";